[user]
	email = {% config user.email %}
	name = {% config user.name %}
# stop
[core]
	autocrlf = input
	safecrlf = warn
	ignorecase = false
	quotepath = false
	editor = code --wait
	symlinks = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
